<app-side-menu-broker [view]="0"></app-side-menu-broker>
<main class="content">
    <app-nav-bar-broker></app-nav-bar-broker>
    <div class="row">
        <div class="col-12">
            <div class="row" style="padding-bottom: 10px;">
                <div class="card border-0 shadow">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="fs-5 fw-bold mb-0">Información General</h2>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="">Cargar Archivo EMA</label>
                                        <input type="file" class="form-control" (change)="cargaEMA($event)" >
                                        <button type="button" class="btn btn-block btn-primary mb-3" id="botonCargaDatos" data-bs-toggle="modal" data-bs-target="#modalCargaDatos" hidden >ver toda la informacion</button>
                                        <label for="" *ngIf="mustraLoading">Cargando ...</label>
                                    </div>
                                    <div class="col-6">
                                        <label for="">Cargar Archivo EBA</label>
                                        <input type="file" class="form-control" (change)="cargaEBA($event)" >
                                    </div>
                                </div>
                                <!-- <button (click)="pruebaHttp()">Cargar cosa</button> -->
                            </div>
                        </div>
                    </div>
                    <div>
                        <form action="">
                            <br>
                            <div class="row">
                                <div class="col-lg-6 mb-3 col-md-12">
                                    <div>
                                        <label for="first_name">Clientes</label>
                                        <ng-select [(ngModel)]="selectedEmp" [ngModelOptions]="{standalone: true}">
                                            <ng-option *ngFor="let car of brokers" [value]="car._id">{{car.broker}} </ng-option>
                                         </ng-select>
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-3 col-md-12">
                                    <div>
                                        <label for="">Registro Patronal</label>
                                        <ng-select [(ngModel)]="idPatronal" [ngModelOptions]="{standalone: true}">
                                            <ng-option *ngFor="let car of patronales" [value]="car._id">{{car.nombre}}</ng-option>
                                         </ng-select>
                                        <label for="" hidden>Registro Patronal</label>
                                        <input type="text" hidden class="form-control" >
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-2 col-md-12 col-sm-12">
                                    <button class="btn btn-primary"  (click)="buscaBrokers()">Agregar</button>
                                    <br>
                                </div>
                               
                                <div class="col-lg-2 col-md-12 col-sm-12"> 
                                    <button class="btn btn-primary" (click)="exportaTXTALTA()">GENERAR SUA ALTA</button>
                                    <br>
                                </div>
                                <div class="col-lg-2 col-md-12 col-sm-12">
                                    <button class="btn btn-primary" (click)="exportaTXTMODIFICACION()">GENERAR SUA MODIFICACION </button>
                                    <br>
                                </div>
                                <div class="col-lg-2 col-md-12 col-sm-12">
                                    <button class="btn btn-primary" (click)="exportaTXTBAJA()">GENERAR SUA BAJA </button>
                                </div>
                            </div>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="col-12" style="padding-bottom: 30px;">
            <div class="row">
                <div class="col-12">
                    <div class="card border-0 shadow">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <!-- <div class="col">
                                    <h2 class="fs-5 fw-bold mb-0">Empleados</h2>
                                    <br>
                                    <button class="btn btn-primary" (click)="registerIDS()">Dar de alta Emplados en IDSE</button>
                                </div>
                                <div class="col text-end">
                                    <input type="text" class="form-control" placeholder="Buscar Empleado" [(ngModel)]="buscaEmp" [ngModelOptions]="{standalone: true}" >
                                </div> -->
                            </div>
                        </div>
                        <div class="table-responsive" style="overflow-y: hidden;">
                            <div style="padding: 10px;">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="col-lg-2 col-md-12 col-sm-12">
                                            <button class="btn btn-primary"  (click)="getMovimientos()">Actualizar</button>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <select name="" id="" class="form-select" [(ngModel)]="tipoMovimiento" [ngModelOptions]="{standalone: true}">
                                             
                                            <option [value]="item.nombre" *ngFor="let item of statusMovimitos">{{item.nombre}}</option>
                                            <option value="">Todos los tipo de movimiento</option>
                                         </select>
                                    </div>
                                </div>
                               
                                <button class="btn btn-danger" (click)="limpiarGrid()" hidden>Limipiar</button>
                                <br>
                                <div style="padding: 10px;">
                                   <div style="background-color: red; width: 20px; height: 20px; float: left; margin-right: 10px; border-radius: 10px;">
                                   </div>
                                   <div>
                                       <label for="">Faltan campos por llenar</label>
                                   </div>
                                </div>
                            </div>
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th></th>
                                    <th class="border-bottom text-center">Cliente</th>
                                    <th class="border-bottom text-center">FECHA RECEPCION</th>
                                    <th class="border-bottom text-center">NSS</th>
                                    <th class="border-bottom text-center"><div style="width: 250px;">NOMBRE COMPLETO</div></th>
                                    <th class="border-bottom text-center"><div style="width: 100px;">CURP</div></th>
                                    <!-- <th class="border-bottom text-center"><div style="width: 60px;">SBC</div></th> -->
                                    <th class="border-bottom text-center"><div style="width: 120px;">TIPO MOVIMIENTO</div></th>
                                    <!-- <th class="border-bottom text-center">FECHA ALTA</th>
                                    <th class="border-bottom text-center">INCIDENCIA</th>
                                    <th class="border-bottom text-center">FECHA DE BAJA</th> -->
                                    <!-- <th class="border-bottom text-center">DIAS</th> -->
                                    <!-- <th class="border-bottom text-center">EMA MES</th> -->
                                   
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let emp of isdImss | buscar: buscaMovimiento | inicio: tipoMovimiento let i = index; ">
                                    <td><input type="checkbox" class="form-check-input" [(ngModel)]="emp.generarArchi"></td>
                                    <td [style]="validaColor(emp.numSocial, emp.apellidoPaterno ,  emp.nombres , emp.subdelegacion , emp.umf, emp.costoDiario, emp.tipoAfiliacion)" >{{emp.idEmpresa.broker}}</td>
                                    <td>{{emp.fechaMovimiento}}</td>
                                    <td>{{emp.numSocial}}</td>
                                    <td>{{emp.nombreCompleto}}</td>
                                    <td>{{emp.curp}}</td>
                                    <!-- <td>{{emp.sd}}</td> -->
                                    <td>{{emp.tipoMovimiento}}</td>
                                    <!-- <td>{{emp.fechaAlta}}</td>
                                    <td>{{emp.incidencia}}</td> -->
                                    <!-- <td>{{emp.fechaBaja}}</td> -->
                                    <!-- <td>{{emp.dias}}</td> -->
                                    <!-- <td>{{emp.emaMes}}</td> -->
                                    <td><button type="button" class="btn btn-block btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#modalSubscribe" (click)="llenaForm(emp)">ver toda la informacion</button></td>
                                 
                                </tr>
                                </tbody>
                                <!-- <div>
                                    <pagination-controls (pageChange)="p = $event" nextLabel="siguiente" previousLabel="atras"></pagination-controls>
                                </div> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---MODAL-->
    <div class="modal fade" id="modalSubscribe" tabindex="-1" role="dialog" aria-labelledby="modalTitleSubscribe" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content py-xl-4">
                <div class="modal-body text-center py-3">
                    <label for=""> Campos obligatorios: <span style="color: red;">*</span></label>
                   <form [formGroup]="registerForm" (ngSubmit)="actualizarMovimiento()">
                       <div class="row">
                            <div class="col-lg-3 col-md-12">
                                <label for="">Tipo Movimiento</label>
                                <select name="" id="" class="form-select" formControlName="tipoMovimiento">
                                    <option [value]="item.nombre" *ngFor="let item of statusMovimitos">{{item.nombre}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <label for="">Apellido Paterno <span style="color: red;">*</span></label>
                                <input type="text" class="form-control" formControlName="apellidoPaterno">
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <label for="">Apellido Materno</label>
                                <input type="text" class="form-control" formControlName="apellidoMaterno">
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <label for="">Nombres <span style="color: red;">*</span></label>
                                <input type="text" class="form-control" formControlName="nombres">
                                <br>
                            </div>
                            
                            <div class="col-lg-3 col-md-12">
                                <label for="">Nombre Completo</label>
                                <input type="text" class="form-control" formControlName="nombreCompleto">
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <label for="">NSS <span style="color: red;">*</span></label>
                                <input type="text" class="form-control" formControlName="numSocial">
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <label for="">Salario Diario <span style="color: red;">*</span></label>
                                <input type="number" class="form-control" formControlName="sd">
                            </div>
                            <div class="col-lg-3 col-md-12" hidden>
                                <label for="">Costo Diario <span style="color: red;">*</span></label>
                                <input type="number" class="form-control" formControlName="costoDiario">
                            </div>
                            <div class="col-lg-3 col-md-12" hidden>
                                <label for="">Salario Integrado</label>
                                <input type="text" class="form-control" formControlName="salarioInt">
                                <br>
                            </div>
                            
                            <div class="col-lg-3 col-md-12">
                                <label for="">CURP <span style="color: red;">*</span></label>
                                <input type="text" class="form-control" formControlName="curp" maxlength="18">
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <label for="">Fecha Movimiento <span style="color: red;">*</span></label>
                                <input type="date" class="form-control" formControlName="fechaMovimiento">
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <label for="">Tipo Trabajador <span style="color: red;">*</span></label>
                                <select name="" id="" class="form-select" formControlName="tipoTrabajador">
                                    <option value="1">Permanente</option>
                                    <option value="2">Eventual</option>
                                    <option value="3">Eventual Construccion</option>
                                </select>
                                
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <label for="">Tipo Salario <span style="color: red;">*</span></label>
                                <select name="" id="" class="form-select" formControlName="tipoSalario">
                                    <option value="0">Fijo</option>
                                    <option value="1">Variable</option>
                                    <option value="2">Mixto</option>
                                </select>
                               <br>
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <label for="">Tipo de Jornada <span style="color: red;">*</span></label>
                                <select name="" id="" class="form-select" formControlName="tipoJornada">
                                    <option value="0">Jornada Completa</option>
                                    <option value="1"> 1 - numero de dias trabajados</option>
                                    <option value="2"> 2 - numero de dias trabajados</option>
                                    <option value="3"> 3 - numero de dias trabajados</option>
                                    <option value="4"> 4 - numero de dias trabajados</option>
                                    <option value="5"> 5 - numero de dias trabajados</option>
                                    <option value="6">menos de un dia trabajado</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <label for="">UMF <span style="color: red;">*</span></label>
                                <input type="text" class="form-control" formControlName="umf"  maxlength="3">
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <label for="">Sub Delegación <span style="color: red;">*</span></label>
                                <input type="text" class="form-control" formControlName="subdelegacion"  maxlength="5">
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <label for="">Tipo Afiliacion <span style="color: red;">*</span></label>
                                <select name="" id="" class="form-select" formControlName="tipoAfiliacion">
                                    <option value=""></option>
                                    <option *ngIf="tipoMovimientoEmp != 'ALTA'" value="APORTACIONES INFONAVID">APORTACIONES INFONAVID</option>
                                    <option *ngIf="tipoMovimientoEmp != 'ALTA'" value="BAJA">BAJA</option>
                                    <option *ngIf="tipoMovimientoEmp != 'ALTA'" value="NO VIGENTE">NO VIGENTE</option>
                                    <option *ngIf="tipoMovimientoEmp != 'ALTA'" value="SOLO IMSS">SOLO IMSS</option>
                                    <option *ngIf="tipoMovimientoEmp == 'ALTA'" value="Alta por Desempleo">Alta por Desempleo</option>
                                    <option *ngIf="tipoMovimientoEmp == 'ALTA'" value="Alta Con Infonavit">Alta Con Infonavit</option>
                                    <option *ngIf="tipoMovimientoEmp == 'ALTA'" value="Alta Solo IMSS"> Alta Solo IMSS</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <label for="">Fecha Alta</label>
                                <input type="date" class="form-control" formControlName="fechaAlta">
                                <br>
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <label for="">RFC</label>
                                <input type="text" class="form-control" formControlName="rfc">
                            </div>
                            
                            <div class="col-lg-3 col-md-12">
                                <label for="">Numero de Credito</label>
                                <input type="text" class="form-control" formControlName="numeroCredito">
                            </div>
                           
                           
                            
                            <div class="col-lg-3 col-md-12">
                                <label for="">Incidendia</label>
                                <input type="text" class="form-control" formControlName="incidencia">
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <label for="">Fecha Baja</label>
                                <input type="date" class="form-control" formControlName="fechaBaja">
                                <br>
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <label for="">Dias de Desempleo</label>
                                    <select name="" id="" class="form-select" formControlName="diaDesempleo">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                <br>
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <label for="">Causa Baja</label>
                                <select name="" id="" class="form-select" formControlName="causaBaja">
                                    <option value="1">Termino de contrato</option>
                                    <option value="2">Separacion Voluntaria</option>
                                    <option value="3">Abandono de empleo | Defuncion</option>
                                    <option value="5">Clausura</option>
                                    <option value="6">Otra</option>
                                    <option value="7">Ausentismo</option>
                                    <option value="8">Resicion de contrato</option>
                                    <option value="9">Jubilacion | A Pension</option>
                                </select>
                               
                              
                            </div>
                            <div class="col-lg-3 col-md-12" hidden>
                                <label for="">Salario Base</label>
                                <input type="text" class="form-control" formControlName="salarioBase">
                            </div>
                            <div class="col-lg-3 col-md-12" hidden>
                                <label for="">Clave Trabajador</label>
                                <input type="text" class="form-control" formControlName="claveTrabajador">
                                <br>
                            </div>
                            
                           
                            
                           
                            
                            <div class="col-lg-3 col-md-12" hidden>
                                <label for="">Unidad Medicina Familiar </label>
                                <input type="text" class="form-control" formControlName="unidadMedicinaFamiliar">
                                <br>
                            </div>
                            
                            <div class="col-lg-3 col-md-12" hidden>
                                <label for="">Guia</label>
                                <input type="text" class="form-control" formControlName="guia">
                            </div>
                            <div class="col-lg-3 col-md-12" hidden>
                                <label for="">Clave Unica</label>
                                <input type="text" class="form-control" formControlName="claveUnica">
                            </div>
                            <div class="col-lg-3 col-md-12" hidden>
                                <label for="">Identificador Formato</label>
                                <input type="text" class="form-control" formControlName="identificadorFormato">
                            </div>
                            <div class="col-lg-3 col-md-12" hidden>
                                <label for="">Identificador RP</label>
                                <input type="text" class="form-control" formControlName="digitoVerificadorRP">
                                <br>
                            </div>
                            
                            <div class="col-lg-3 col-md-12" hidden>
                                <label for="">Identificador NSS</label>
                                <input type="text" class="form-control" formControlName="digitoVerificadorNSS">
                            </div>
                            <div class="col-lg-3 col-md-12" hidden>
                                <label for="">Terminacion</label>
                                <input type="text" class="form-control" formControlName="terminacion">
                            </div>
                            <div class="col-lg-3 col-md-12" hidden>
                                <label for="">EMA MES</label>
                                <input type="text" class="form-control" formControlName="emaMes">
                            </div>
                            <div class="col-lg-3 col-md-12" hidden>
                                <label for="">Dias Trabajados</label>
                                <input type="text" class="form-control" formControlName="dias">
                            </div>
                            <div class="col-lg-3 col-md-12" hidden>
                                <label for="">Monto descuento CFVSMFD</label>
                                <input type="text" class="form-control" formControlName="montoDescuentoCFVSMFD">
                            </div>
                            <div class="col-lg-3 col-md-12" hidden>
                                <label for="">Aportacion de Infonavid</label>
                                <input type="text" class="form-control" formControlName="aportacionInfonavid">
                                <br>
                            </div>
                            <div class="col-lg-3 col-md-12" hidden>
                                <label for="">Credito Infonavid vigente</label>
                                <input type="text" class="form-control" formControlName="creditoInfonavidVigente">
                            </div>
                            <div class="col-lg-3 col-md-12" hidden>
                                <label for="">Semana Jornada Reducida </label>
                                <input type="text" class="form-control" formControlName="semanaJornadaReducida">
                            </div>
                            <div style="padding: 10px;">
                                <button class="btn btn-primary" [disabled]="registerForm.valid">Actualizar</button>
                            </div>
                       </div>
                   </form>
                </div>
                
            </div>
        </div>
    </div>

   

     <div class="modal fade" id="modalCargaDatos" tabindex="-1" role="dialog" aria-labelledby="modalCargaDatos" aria-hidden="true" data-bs-backdrop="static" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content py-xl-4">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="recargaPage()"></button>
                </div>
                <div class="modal-body text-center py-3">
                    <label for=""> Cargando Archivo {{conteoDatos}} De  {{totalDatos}} </label>
                    <br>
                    <label for="" *ngIf="retificandoDatos" > Total de errores {{volverAcargarTotal}} </label>
                    <label for="" *ngIf="retificandoDatos" style="color: red;">{{mensageError}}</label>
                    <br>
                    <button class="btn btn-primary" *ngIf="retificandoDatos" (click)="vulveAcargar()">Descargar archivo con error</button> 
                </div> 
            </div>
        </div>
    </div> 
</main>