<app-side-menu-broker [view]="0"></app-side-menu-broker>
<main class="content">
    <app-nav-bar-broker></app-nav-bar-broker>
    <div class="row">
        <div class="col-12">
            <div class="row" style="padding-bottom: 10px;">
                <div class="card border-0 shadow">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="fs-5 fw-bold mb-0">Información General</h2>
                            </div>
                        </div>
                    </div>
                    <div>
                        <form action="" [formGroup]="registerForm" (ngSubmit)="registerPatronal()">
                            <br>
                            <div class="row">
                                <div class="col-lg-3 mb-3 col-md-12">
                                    <div>
                                        <label for="">Nombre, denominación o razón social:</label>
                                        <input type="text" class="form-control" formControlName="nombre">
                                    </div>
                                </div>
                                 <div class="col-lg-3 mb-3 col-md-12">
                                    <div>
                                        <label for="">Registro Patronal:</label>
                                        <input type="text" class="form-control" formControlName="registroPatronal">
                                    </div>
                                </div>
                                <div class="col-lg-3 mb-3 col-md-12">
                                    <div>
                                        <label for="">Número Patronal de Identificación Electrónica:</label>
                                        <input type="text" class="form-control" formControlName="numeroPatronal">
                                    </div>
                                </div>
                                

                                <div>
                                    <button class="btn btn-primary">Guardar</button>
                                </div>
                               
                            </div>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="card border-0 shadow">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col ">
                                   
                                </div>
                                <div class="col text-end">
                                    <!-- <input type="text"  class="form-control" placeholder="Buscar broker" [(ngModel)]="buscaBroker" [ngModelOptions]="{standalone: true}" > -->
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive" style="overflow-y: hidden;">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th class="border-bottom text-center">Nombre, denominación o razón social</th>
                                    <th class="border-bottom text-center">Registro Patronal</th>
                                    <th class="border-bottom text-center">Número Patronal de Identificación Electrónica</th>
                                    <th class="border-bottom text-center">Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <!-- | buscar: buscaBroker; let i = index; -->
                                <tr *ngFor="let emp of patronales">
                                    <td>{{emp.nombre}}</td>
                                    <td>{{emp.registroPatronal}}</td>
                                    <td>{{emp.numeroPatronal}}</td>
                                    
                                     <td>
                                        <div class="d-flex">
                                            <div class="dropdown me-1">
                                                <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20">
                                                Seleccionar
                                                </button>
                                                <ul class="dropdown-menu py-0" aria-labelledby="dropdownMenuOffset" style="margin: 0px;">
                                                    <li><a class="dropdown-item rounded-top" (click)="llenaForm(emp)">Actualizar</a></li>
                                                    <li><a class="dropdown-item"  (click)="eliminarBroker(emp)">Eliminar</a></li>
                                                    
                                                </ul>
                                            </div>
                                            
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                                <div>
                                    <pagination-controls (pageChange)="p = $event" nextLabel="siguiente" previousLabel="atras"></pagination-controls>
                                </div>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
