<app-side-menu-broker [view]="1"></app-side-menu-broker>
<main class="content">
    <app-nav-bar-broker></app-nav-bar-broker>
    <div class="row">
        <div class="col-12">
            <div class="row" style="padding-bottom: 10px;">
                <div class="card border-0 shadow">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="fs-5 fw-bold mb-0">Información General</h2>
                            </div>
                        </div>
                    </div>
                    <div>
                        <form action="">
                            <br>
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <div>
                                        <label for="first_name">Empleado</label>
                                        <ng-select [(ngModel)]="selectedEmp" [ngModelOptions]="{standalone: true}">
                                            <ng-option *ngFor="let car of empleados" [value]="car._id">{{car.nombres}}</ng-option>
                                         </ng-select>
                                    </div>
                                </div>
                                <div class="col-6 mb-3">
                                    <div>
                                        <label for="first_name">Tipo de Movimietno</label>
                                        <select name="" id="" class="form-select" [(ngModel)]="tipoMovimiento" [ngModelOptions]="{standalone: true}">
                                             
                                           <option [value]="item.nombre" *ngFor="let item of statusMovimitos">{{item.nombre}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div>
                                <button class="btn btn-primary"  (click)="agregar()">Agregar</button>
                            </div>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="card border-0 shadow">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h2 class="fs-5 fw-bold mb-0">Empleados</h2>
                                    <br>
                                    <button class="btn btn-primary" (click)="registerIDS()">Solicitar Movimientos</button>
                                </div>
                                <div class="col text-end">
                                    <input type="text" class="form-control" placeholder="Buscar Empleado" [(ngModel)]="buscaEmp" [ngModelOptions]="{standalone: true}" >
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive" style="overflow-y: hidden;">
                            <table class="table align-items-center table-flush">
                                <thead class="thead-light">
                                <tr>
                                    <th class="border-bottom text-center">Tipo de Movimiento</th>
                                    <th class="border-bottom text-center">Apellido Paterno</th>
                                    <th class="border-bottom text-center">Apellido Materno</th>
                                    <th class="border-bottom text-center"><div style="width: 170px; ">Nombres's</div></th>
                                    <th class="border-bottom text-center"><div style="width: 250px;">Nombre Completo</div></th>
                                    <th class="border-bottom text-center">Numero de Seguro Social</th>
                                    <th class="border-bottom text-center"><div style="width: 120px;">SDI</div></th>
                                    <th hidden class="border-bottom text-center"><div style="width: 120px;">Costo Diario</div></th>
                                    <th hidden class="border-bottom text-center">Salario Integrado</th>
                                    <th class="border-bottom text-center"><div style="width: 300px;">CURP</div></th>
                                    <th class="border-bottom text-center"><div style="width: 300px;">RFC</div></th>
                                    <th class="border-bottom text-center">Fecha que se dara el Movimiento</th>
                                    <th *ngIf="tipoMovimiento == 'ALTA'" class="border-bottom text-center">Con Aportación a Infonavit</th>
                                    <th *ngIf="tipoMovimiento == 'ALTA'" class="border-bottom text-center">Cuanta con credito infonavit vigente?</th>
                                    <th *ngIf="tipoMovimiento == 'ALTA'" class="border-bottom text-center">Numero de Credito</th>
                                    <th *ngIf="tipoMovimiento == 'ALTA'"class="border-bottom text-center">Monto a descontar CF VSM FD %</th>
                                    <th hidden class="border-bottom text-center">Salario Base</th>
                                    <th hidden class="border-bottom text-center"><div style="width: 250px;">Clave trabajador</div></th>
                                    <th *ngIf="tipoMovimiento == 'ALTA'" class="border-bottom text-center">Tipo Trabajado</th>
                                    <th *ngIf="tipoMovimiento == 'ALTA'" class="border-bottom text-center"><div style="width: 250px;">Tipo Salario</div></th>
                                    <th *ngIf="tipoMovimiento == 'ALTA'" class="border-bottom text-center"><div style="width: 250px;">Tipo Jornada</div></th>
                                    <th hidden class="border-bottom text-center">Semana de Jornada Reducida</th>
                                    <th hidden class="border-bottom text-center">Unidad de Medicina Familiar</th>
                                    <th hidden class="border-bottom text-center"><div style="width: 250px;">Guía</div></th>
                                    <th hidden class="border-bottom text-center"><div style="width: 250px;">Clave Unica</div></th>
                                    <th hidden class="border-bottom text-center">Identificador del Formato</th>
                                    <th hidden class="border-bottom text-center">Digíto identificador RP</th>
                                    <th hidden class="border-bottom text-center">Digíto identificador NSS</th>
                                    <th *ngIf="tipoMovimiento == 'BAJA'" class="border-bottom text-center">Día de Desempleo</th>
                                    <th *ngIf="tipoMovimiento == 'BAJA'" class="border-bottom text-center">Fecha de Baja</th>
                                    <th *ngIf="tipoMovimiento == 'BAJA'"  class="border-bottom text-center">Causa de Baja</th>
                                    
                                    <th hidden class="border-bottom text-center">Eliminar</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let emp of idse | buscar: buscaEmp; let i = index; ">
                                    <td class="col-12">
                                    <select name="" id="" class="form-control" [(ngModel)]="emp.tipoMovimiento" [ngModelOptions]="{standalone: true}">
                                        <option [value]="item.nombre" *ngFor="let item of statusMovimitos">{{item.nombre}}</option>
                                    </select>
                                    </td>
                                    <td><input onkeyup="this.value = this.value.toUpperCase();" type="text" class="form-control" [(ngModel)]="emp.apellidoPaterno" [ngModelOptions]="{standalone: true}"></td>
                                    <td><input onkeyup="this.value = this.value.toUpperCase();" type="text" class="form-control" [(ngModel)]="emp.apellidoMaterno" [ngModelOptions]="{standalone: true}"></td>
                                    <td><input onkeyup="this.value = this.value.toUpperCase();" type="text" class="form-control" [(ngModel)]="emp.nombres" [ngModelOptions]="{standalone: true}"></td>
                                    <td><input onkeyup="this.value = this.value.toUpperCase();" type="text" class="form-control" [(ngModel)]="emp.nombreCompleto" [ngModelOptions]="{standalone: true}"></td>
                                    <td><input onkeyup="this.value = this.value.toUpperCase();" type="text" class="form-control" [(ngModel)]="emp.numSocial" [ngModelOptions]="{standalone: true}"></td>
                                    <td><input  type="number" class="form-control" [(ngModel)]="emp.sd" [ngModelOptions]="{standalone: true}"></td>
                                    <td hidden><input  type="number" class="form-control" [(ngModel)]="emp.costoDiario" [ngModelOptions]="{standalone: true}"></td>
                                    <td hidden><input onkeyup="this.value = this.value.toUpperCase();" type="number" class="form-control" [(ngModel)]="emp.salarioInt" [ngModelOptions]="{standalone: true}"></td>
                                    <td><input onkeyup="this.value = this.value.toUpperCase();" type="text" class="form-control" [(ngModel)]="emp.curp" [ngModelOptions]="{standalone: true}"></td>
                                    <td><input onkeyup="this.value = this.value.toUpperCase();" type="text" class="form-control" [(ngModel)]="emp.rfc" [ngModelOptions]="{standalone: true}"></td>
                                    <td><input onkeyup="this.value = this.value.toUpperCase();" type="date" class="form-control" [(ngModel)]="emp.fechaMovimiento"   [ngModelOptions]="{standalone: true}"></td>
                                    <td *ngIf="tipoMovimiento == 'ALTA'">
                                        <select name="" id="" class="form-select"  [(ngModel)]="emp.aportacionInfonavid" [ngModelOptions]="{standalone: true}">
                                            <option value="SI">SI</option>
                                            <option value="NO">NO</option>
                                        </select>
                                        <!-- <input onkeyup="this.value = this.value.toUpperCase();" type="text" class="form-control" [(ngModel)]="emp.aportacionInfonavid" [ngModelOptions]="{standalone: true}"> -->
                                    </td>
                                    <td *ngIf="tipoMovimiento == 'ALTA'">
                                        <select name="" id="" class="form-select"  [(ngModel)]="emp.creditoInfonavidVigente" [ngModelOptions]="{standalone: true}">
                                            <option value="SI">SI</option>
                                            <option value="NO">NO</option>
                                        </select>
                                        <!-- <input onkeyup="this.value = this.value.toUpperCase();" type="text" class="form-control" [(ngModel)]="emp.creditoInfonavidVigente" [ngModelOptions]="{standalone: true}"></td> -->
                                    <td *ngIf="tipoMovimiento == 'ALTA'"><input onkeyup="this.value = this.value.toUpperCase();" type="number" class="form-control" [(ngModel)]="emp.numeroCredito" [ngModelOptions]="{standalone: true}"></td>
                                    <td *ngIf="tipoMovimiento == 'ALTA'"><input onkeyup="this.value = this.value.toUpperCase();" type="number" class="form-control" [(ngModel)]="emp.montoDescuentoCFVSMFD" [ngModelOptions]="{standalone: true}"></td>
                                    <td hidden><input onkeyup="this.value = this.value.toUpperCase();" type="number" class="form-control" [(ngModel)]="emp.salarioBase" [ngModelOptions]="{standalone: true}"></td>
                                    <td hidden ><input onkeyup="this.value = this.value.toUpperCase();" type="text" class="form-control" [(ngModel)]="emp.claveTrabajador" [ngModelOptions]="{standalone: true}"></td>
                                    <td *ngIf="tipoMovimiento == 'ALTA'">
                                        <select name="" id="" class="form-select" [(ngModel)]="emp.tipoTrabajador" [ngModelOptions]="{standalone: true}">
                                            <option value="1">Permanente</option>
                                            <option value="2">Eventual</option>
                                            <option value="3">Eventual Construccion</option>
                                        </select>
                                        <input hidden onkeyup="this.value = this.value.toUpperCase();" type="text" class="form-control" [(ngModel)]="emp.tipoTrabajador" [ngModelOptions]="{standalone: true}"></td>
                                    <td *ngIf="tipoMovimiento == 'ALTA'" >
                                        <select name="" id="" class="form-select" [(ngModel)]="emp.tipoSalario" [ngModelOptions]="{standalone: true}">
                                            <option value="0">Fijo</option>
                                            <option value="1">Variable</option>
                                            <option value="2">Mixto</option>
                                        </select>
                                        <input hidden onkeyup="this.value = this.value.toUpperCase();" type="text" class="form-control" >
                                    </td>
                                    <td *ngIf="tipoMovimiento == 'ALTA'">
                                        <select name="" id="" class="form-select" [(ngModel)]="emp.tipoJornada" [ngModelOptions]="{standalone: true}">
                                            <option value="0">Jornada Completa</option>
                                            <option value="1"> 1 - numero de dias trabajados</option>
                                            <option value="2"> 2 - numero de dias trabajados</option>
                                            <option value="3"> 3 - numero de dias trabajados</option>
                                            <option value="4"> 4 - numero de dias trabajados</option>
                                            <option value="5"> 5 - numero de dias trabajados</option>
                                            <option value="6">menos de un dia trabajado</option>
                                        </select>
                                    </td>
                                    <td hidden ><input onkeyup="this.value = this.value.toUpperCase();" type="text" class="form-control" [(ngModel)]="emp.semanaJornadaReducida" [ngModelOptions]="{standalone: true}"></td>
                                    <td hidden ><input onkeyup="this.value = this.value.toUpperCase();" type="text" class="form-control" [(ngModel)]="emp.unidadMedicinaFamiliar" [ngModelOptions]="{standalone: true}"></td>
                                    <td hidden ><input onkeyup="this.value = this.value.toUpperCase();" type="text" class="form-control" [(ngModel)]="emp.guia" [ngModelOptions]="{standalone: true}"></td>
                                    <td hidden ><input onkeyup="this.value = this.value.toUpperCase();" type="text" class="form-control" [(ngModel)]="emp.claveUnica" [ngModelOptions]="{standalone: true}"></td>
                                    <td hidden ><input onkeyup="this.value = this.value.toUpperCase();" type="text" class="form-control" [(ngModel)]="emp.identificadorFormato" [ngModelOptions]="{standalone: true}"></td>
                                    <td hidden ><input onkeyup="this.value = this.value.toUpperCase();" type="text" class="form-control" [(ngModel)]="emp.digitoVerificadorRP" [ngModelOptions]="{standalone: true}"></td>
                                    <td hidden ><input onkeyup="this.value = this.value.toUpperCase();" type="text" class="form-control" [(ngModel)]="emp.digitoVerificadorNSS" [ngModelOptions]="{standalone: true}"></td>
                                    <td *ngIf="tipoMovimiento == 'BAJA'">
                                        <select name="" id="" class="form-select"  [(ngModel)]="emp.diaDesempleo" [ngModelOptions]="{standalone: true}" >
                                            <option value="0" hidden>0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            
                                        </select>
                                    </td>
                                    <td *ngIf="tipoMovimiento == 'BAJA'">
                                        <input onkeyup="this.value = this.value.toUpperCase();" type="date" class="form-control" [(ngModel)]="emp.fechaBaja"   [ngModelOptions]="{standalone: true}">
                                    </td>
                                    <td *ngIf="tipoMovimiento == 'BAJA'">
                                        
                                           
                                            <select name="" id="" class="form-select" [(ngModel)]="emp.causaBaja"   [ngModelOptions]="{standalone: true}">
                                                <option value="1">Termino de contrato</option>
                                                <option value="2">Separacion Voluntaria</option>
                                                <option value="3">Abandono de empleo | Defuncion</option>
                                                <option value="5">Clausura</option>
                                                <option value="6">Otra</option>
                                                <option value="7">Ausentismo</option>
                                                <option value="8">Resicion de contrato</option>
                                                <option value="9">Jubilacion | A Pension</option>
                                            </select>
                                       
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" (click)="eliminarItem(i)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                                </svg>
                                            
                                          </button>
                                    </td>
                                </tr>
                                </tbody>
                                <!-- <div>
                                    <pagination-controls (pageChange)="p = $event" nextLabel="siguiente" previousLabel="atras"></pagination-controls>
                                </div> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>